# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\evslo\OneDrive\Estudos\Android\Fundamentos de Desenvolvimento Android\TP1_FDA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
